body {
	background-color: #346388;
}
#myChart {
	height: "1600px";
	width: "100%";
}
.chartOuter {
	background-color: #1f4f74;
	border: thin solid #507c9d;
}
h1 {
	color: #492e09;
	text-shadow: #8f580c;
}
h3 {
	color: #463319;
}
