body {
	background-color: #346388;
}
.pageContainer {
	text-align: center;
}
#myChart {
	height: "1600px";
	width: "100%";
}
.chartOuter {
	background-color: #1f4f74;
	border: thin solid #507c9d;
}
h1 {
	color: #080b298f;
}
h3 {
	color: #22190d69;
}
fieldset {
	background-color: #080b2946;
}
